body {
  margin: 0 15px;
  background-color: #1a1b26;
  color: #e6e7ed;
  padding: 25px 0;
  font-family: "Courier New";
}

main {
  max-width: 640px;
  margin: 0 auto;
}

.image-row,
.name-row,
.social-icon-row,
.links-row {
  display: flex;
  justify-content: center;
}

.name-row,
.links-row h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.image-row {
  .profile-pic {
      border-radius: 50%;
      margin: 0 auto;
      width: 150px;
  }
}

.social-icon-row {
  margin-bottom: 20px;
  a {
      margin: 0 10px;
      color: #bb9af7;
      display: flex;
      align-items: center;
      transition:
          scale 0.3s ease-in-out,
          color 0.3s ease-in-out;
      svg {
          width: 25px;
          height: 25px;
          margin-right: 5px;
          color: inherit;
          transition:
              scale 0.3s ease-in-out,
              color 0.3s ease-in-out;
      }
  }
  a:hover {
      scale: 1.1;
      color: #7aa2f7;
  }
}

.links-row {
  flex-direction: column;
  align-items: center;

  .link-items-wrapper {
      margin: 0 auto;

      .link-item {
          display: flex;
          a {
              text-decoration: none;
              color: #1a1b26;
              margin: 10px 0;
              padding: 10px 25px;
              background-color: #c0caf5;
              border-radius: 25px;
              text-align: center;
              width: 100%;
              box-shadow: 3px 5px #414868;
              transition:
                  scale 0.3s ease-in-out,
                  background-color 0.3s ease-in-out,
                  box-shadow 0.3s ease-in-out;
          }
      }

      .link-item:hover {
          a {
              background-color: #a9b1d6;
              scale: 0.99;
              box-shadow: 1px 3px #24283b;
          }
      }
  }
}
